@font-face{
    src: url(font/CountachWeb\ Regular.ttf);
    font-family: 'wz';
}

*{
    margin: 0;
    padding: 0;
}
body{
    background: url(imgs/stadiumbg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.title{
    padding: 20px 100px 0px;
    font-family: 'wz' !important;
    color: white;
}
.subtitle, .subtitle div{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-left: 10px;
    font-weight: 100;
}

main{
    background: url('imgs/stadium.png') no-repeat;
    background-size: cover;
    width: 920px;
    height: 850px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.dots img{
    z-index: 99;
    display: none;
    width: 800px;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: default;
}

.locations span{
    font-family: 'Arial';
    font-weight: 900;
    font-size: 20px;
}

/* DOTS */
.dots{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

.dot-0f{
    background: rgb(79, 209, 19);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.dot-1f{
    background: rgb(255, 17, 0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.dot-2f{
    background: rgb(0, 89, 255);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}


/* 0F */
.dot-0f-01-NW{
    width: 100%;
    position: relative;
    margin-top: 770%;
    margin-left: -600%;
}

.dot-0f-02-SW{
    width: 100%;
    position: relative;
    margin-top: 410%;
    margin-left: 240%;
}

.dot-0f-03-S1{
    width: 100%;
    position: relative;
    margin-top: -70%;
    margin-left: 670%;
}

.dot-0f-04-S2{
    width: 100%;
    position: relative;
    margin-top: -220%;
    margin-left: 740%;
}

/* 1F */
.dot-1f-01-N{
    width: 100%;
    position: relative;
    margin-top: -530%;
    margin-left: -600%;
}

.dot-1f-02-NW1{
    width: 100%;
    position: relative;
    margin-top: 290%;
    margin-left: -710%;
}

.dot-1f-03-NW2{
    width: 100%;
    position: relative;
    margin-top: -25%;
    margin-left: -590%;
}

.dot-1f-04-NW3{
    width: 100%;
    position: relative;
    margin-top: 60%;
    margin-left: -500%;
}

.dot-1f-05-NE{
    width: 100%;
    position: relative;
    margin-top: -940%;
    margin-left: -310%;
}

.dot-1f-06-SE{
    width: 100%;
    position: relative;
    margin-top: 410%;
    margin-left: 270%;
}

.dot-1f-07-W{
    width: 100%;
    position: relative;
    margin-top: 460%;
    margin-left: -10%;
}

/* 2F */
.dot-2f-01-N{
    width: 100%;
    position: relative;
    margin-top: -790%;
    margin-left: -560%;
}

.dot-2f-02-W{
    width: 100%;
    position: relative;
    margin-top: 870%;
    margin-left: -20%;
}

/* SHOW IMAGES */
/* 0F */
.dot-0f-01-NW:hover .img-0f-NW{
    display: block;
    transform: translate(10%, 0%);
}

.dot-0f-02-SW:hover .img-0f-SW{
    display: block;
    transform: translate(-105%, -20%);
}

.dot-0f-03-S1:hover .img-0f-S1{
    display: block;
    transform: translate(-105%, -20%);
}

.dot-0f-04-S2:hover .img-0f-S2{
    display: block;
    transform: translate(-105%, -20%);
}

/* 1F */
.dot-1f-01-N:hover .img-1f-N{
    display: block;
    transform: translate(10%, 0%);
}

.dot-1f-02-NW1:hover .img-1f-NW1{
    display: block;
    transform: translate(10%, 0%);
}

.dot-1f-03-NW2:hover .img-1f-NW2{
    display: block;
    transform: translate(10%, 0%);
}

.dot-1f-04-NW3:hover .img-1f-NW3{
    display: block;
    transform: translate(10%, 0%);
}

.dot-1f-05-NE:hover .img-1f-NE{
    display: block;
    transform: translate(-40%, 55%);
}

.dot-1f-07-W:hover .img-1f-W{
    display: block;
    transform: translate(-50%, -55%);
}

.dot-1f-06-SE:hover .img-1f-SE{
    display: block;
    transform: translate(-105%, 10%);
}

/* 2F */
.dot-2f-01-N:hover .img-2f-N{
    display: block;
    transform: translate(10%, 0%);
}

.dot-2f-02-W:hover .img-2f-W{
    display: block;
    transform: translate(-45%, -55%);
}

/*  */

.parking img{
    border: 3px solid rgb(79, 209, 19);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.mainfloor img{
    border: 3px solid rgb(255, 17, 0);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.executive img{
    border: 3px solid rgb(0, 89, 255);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}


@media screen and (min-width: 2001px){
    body{
        background: none;
    }
    .title{
        color: black;
    }
}

@media screen and (min-width: 2000px){
    body{
        background-position-x: -300px;
    }
}
